<div id="dvBosangPyeonibInfoWin" class="mapInnerBox type2"> 
    <div class="mibHeader"><span class="titIcon {{#xif " kind == '보상' "}} bosang {{else}} pyeonib {{/xif}}">{{kind}}</span></div> 
    <div class="mibBody" style="height:305px;">
       	<!-- list -->
    	<div id="dvBosangPyeonibList" class="listType" style="display:none;"></div>

	   	<!-- table -->
	   	<div id="dvBosangPyeonibTable" class="tableType" style="display:none;">
	   		<table class="tableStyle borderStyle left">
	   			<tbody>
	   			<tr>
					<th>물건<br/>소재지</th>
					<td><span id="bpMulgeonsojaeji">{{mulgeonsojaeji}}</span></td>
				</tr>
				<tr>
					<th>공고기관</th>
					<td><span id="bpGonggogigwan">{{gonggogigwan}}</span></td>
				</tr>
				<tr>
					<th>공고일</th>
					<td><span id="bpGonggoil">{{gonggoil}}</span></td>
				</tr>
				<tr>
					<th>사업명</th>
					<td><span id="bpSaeobname">{{saeobname}}</span></td>
				</tr>
				<tr>
					<th>공고번호</th>
					<td><span id="bpGonggobeonho">{{gonggobeonho}}</span></td>
				</tr>
				<tr>
					<th>시설종류</th>
					<td><span id="bpSiseolkind">{{siseolkind}}</span></td>
				</tr>
				<tr>
					<th>사업<br/>시행자</th>
					<td><span id="bpSaeobsihaengja">{{saeobsihaengja}}</span></td>
				</tr>
	   			</tbody>
	   		</table>
	   	</div>       
       
    </div>
    <div class="mibfooter">
    	<button type="button" id="btnBosangPyeonibPano" class="link" data-name="위치보기">위치보기</button>
    	<button type="button" id="btnBosangPyeonibList" class="goList" style="displat:none;">목록으로</button>
        <button type="button" id="btnBosangPyeonibThumbClose" class="close">닫기</button>
    </div>
</div>