<div id="dvGongmaeInfoWin" class="mapInnerBox type2"> 
    <div class="mibHeader"><span class="titIcon gongmae">공매</span></div> 
    <div class="mibBody">
        <div class="tableType">
            <table class="tableStyle borderStyle left">
                <tbody>
                    <tr>
                        <th>물건주소지</th>
                        <td>{{mulgeonAddress}}</td>
                    </tr>
                    <tr>
                        <th>용도</th>
                        <td>{{yongdo}}</td>
                    </tr>
                    <tr>
                        <th>지목</th>
                        <td>{{jimok}}</td>
                    </tr>
                    <tr>
                        <th>면적구분</th>
                        <td>{{areaGubun}}</td>
                    </tr>
                    <tr>
                        <th>물건상태</th>
                        <td>{{mulgeonStatus}}</td>
                    </tr>
                    <tr>
                        <th>유찰횟수</th>
                        <td>{{yuchal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mibfooter">
    	<button type="button" id="btnGongmaePano" class="link" data-name="위치보기">위치보기</button>
        <button type="button" id="btnGongmaeDetail" class="link" data-name="물건상세조회">물건상세조회</button>
        <button type="button" id="btnGongmaeThumbClose" class="close">닫기</button>
    </div>
</div>