<div class="headArea">
	<h2>투자유망 지역검색</h2>
	<button type="button" class="close">
		<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
	</button>
</div>
<div class="bodyArea">
	<div class="tabWrap dvTooja">
		<div class="tab-head">
			<ul class="nav-tabs">
				<li class="tabLink active">
					<button href="#tabJangmiCityPlan" data-toggle="tab" data-othertab="#toojaTabBox01_footer"><span class="text">장기 미집행 도시계획시설</span></button>
				</li>
				<li class="tabLink">
					<button href="#tabTojiUseLimitCancel" data-toggle="tab" data-othertab="#toojaTabBox02_footer"><span class="text">토지이용규제 해소물건</span></button>
				</li>
				<li class="tabLink">
					<button href="#tabDevPilji" data-toggle="tab"><span class="text">개발적성 필지 검색</span></button>
				</li>
			</ul>
		</div>

		<div id="dvToojaBox" class="tab-content"> 
		
			<!-- 장기미집행도시계획시설 탭-->
			<div id="tabJangmiCityPlan" class="tab-pane active">	

				<!-- 장기미집행도시계획시설물건조건 -->
				<div class="unit">							
					<div class="unit_tit">
						<span class="sTit color_black">장기미집행도시계획시설물건조건</span>
						<button href="#slideToggle01" class="slideShow fr stateOn" data-role="slideShow">
							<em class="on">펼침</em>
							<em class="off">닫힘</em>
						</button>
					</div>
					
					<div id="slideToggle01" class="unit_cont bgWhite slideShow-cont" style="display:block;">
						<table class="tableStyle borderStyle topBold left">
							<colgroup>
								<col style="width:15%;">
								<col style="width:;">
							</colgroup>
							<tbody>
							<tr id="itemCityPlanTab01">
								<th>도시계획<br/>시설</th>
								<td>
									{{#each codes.cityPlan as |cityPlan|}}
									<span class="rdchBox">
										<input type="checkbox" id="chkJangMiCityPlan{{@index}}" value="{{cityPlan.value}}">
										<label for="chkJangMiCityPlan{{@index}}" class="labelCh"><em class="text">{{cityPlan.name}}</em></label>
									</span>
									{{/each}}
                                </td>
                            </tr>
                            <tr id="itemCityPlanStateTab01">
                                <th>도시계획시설저촉상태</th>
                                <td>
                                	{{#each codes.cityPlanState as |cityPlanState|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiCityPlanState{{@index}}" value="{{cityPlanState.value}}">
                                        <label for="chkJangMiCityPlanState{{@index}}" class="labelCh"><em class="text">{{cityPlanState.name}}</em></label>
                                    </span>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr id="itemBosangPyeonibTab01">
                                <th>보상편입<br/>여부 </th>
                                <td>
                                {{#each codes.bosangPyeonib as |bosangPyeonib|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiBosangPyeonib{{@index}}" value="{{bosangPyeonib.value}}">
                                        <label for="chkJangMiBosangPyeonib{{@index}}" class="labelCh"><em class="text">{{bosangPyeonib.name}}</em></label>
                                    </span>
                                 {{/each}}
                                 </td>   
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 일반조건 -->
                <div class="unit">							
                    <div class="unit_tit">
                        <span class="sTit color_black">일반조건</span>
                        <button href="#slideToggle02" class="slideShow fr" data-role="slideShow">
                            <em class="on">펼침</em>
                            <em class="off">닫힘</em>
                        </button>
                    </div>
                    <div id="slideToggle02" class="unit_cont bgWhite slideShow-cont">
                        <table class="tableStyle borderStyle topBold left">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:;">
                            </colgroup>
                            <tbody>
                            <tr id="itemJiyeogTab01">
                                <th>지역</th>
                                <td>
                                	{{#each codes.jiyeok as |jiyeok|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiJiyeok{{@index}}" value="{{jiyeok.value}}">
                                        <label for="chkJangMiJiyeok{{@index}}" class="labelCh"><em class="text">{{jiyeok.name}}</em></label>
                                    </span>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr id="itemJimokTab01">
                                <th>지목</th>
                                <td>
                                	{{#each codes.jimok as |jimok|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiJimok{{@index}}" value="{{jimok.value}}">
                                        <label for="chkJangMiJimok{{@index}}" class="labelCh"><em class="text">{{jimok.name}}</em></label>
                                    </span>
                                 	{{/each}}
                                </td>
                            </tr>
                            <tr id="itemGongsiTab01">
                                <th>공시지가</th>
                                <td>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangGongsi0" value="m1000">
                                        <label for="chkJangGongsi0" class="labelCh"><em class="text">1,000원 미만</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangGongsi1" value="1000|9999">
                                        <label for="chkJangGongsi1" class="labelCh"><em class="text">1,000원~10,000원</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangGongsi2" value="10000|99999">
                                        <label for="chkJangGongsi2" class="labelCh"><em class="text">10,000원~100,000원</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangGongsi3" value="100000|999999">
                                        <label for="chkJangGongsi3" class="labelCh"><em class="text">100,000원~1,000,000원</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangGongsi4" value="M10000000">
                                        <label for="chkJangGongsi4" class="labelCh"><em class="text">1천만원 이상</em></label>
                                    </span>
                                </td>
                            </tr>
			                </tbody>
                        </table>
                    </div>
                </div>

                <!-- 토지이용규제 -->
                <div class="unit">							
                    <div class="unit_tit">
                        <span class="sTit color_black">토지이용규제</span>
                        <button href="#slideToggle03" class="slideShow fr" data-role="slideShow">
                            <em class="on">펼침</em>
                            <em class="off">닫힘</em>
                        </button>
                    </div>
                    <div id="slideToggle03" class="unit_cont bgWhite slideShow-cont">
                        <table class="tableStyle borderStyle topBold left">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:;">
                            </colgroup>
                            <tbody>
                            <tr id="itemYongdoJiyeogTab01">
                                <th>용도지역</th>
                                <td>
                                	{{#each codes.yongdojiyeog as |yongdojiyeog|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiYongdoJiyeog{{@index}}" value="{{yongdojiyeog.value}}">
                                        <label for="chkJangMiYongdoJiyeog{{@index}}" class="labelCh"><em class="text">{{yongdojiyeog.name}}</em></label>
                                    </span>
                                	{{/each}}
                                </td>
                            </tr>
                            <tr id="itemYongdoJiguTab01">
                                <th>용도지구</th>
                                <td>
                                	{{#each codes.yongdojigu as |yongdojigu|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiYongdoJigu{{@index}}" value="{{yongdojigu.value}}">
                                        <label for="chkJangMiYongdoJigu{{@index}}" class="labelCh"><em class="text">{{yongdojigu.name}}</em></label>
                                    </span>
                                   	{{/each}}
                                </td>
                            </tr>
                            <tr id="itemYongdoGuyeogTab01">
                                <th>용도구역</th>
                                <td>
                                	{{#each codes.yongdoguyeog as |yongdoguyeog|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiYongdoGuyeog{{@index}}" value="{{yongdoguyeog.value}}">
                                        <label for="chkJangMiYongdoGuyeog{{@index}}" class="labelCh"><em class="text">{{yongdoguyeog.name}}</em></label>
                                    </span>
                                  	{{/each}}
                                </td>
                            </tr>
                            <tr id="itemEtcLawLimitTab01">
                                <th>기타법률상규제</th>
                                <td>
                                	{{#each codes.etclawlimit as |etclawlimit|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiEtcLawLimit{{@index}}" value="{{etclawlimit.value}}">
                                        <label for="chkJangMiEtcLawLimit{{@index}}" class="labelCh"><em class="text">{{etclawlimit.name}}</em></label>
                                    </span>
                                  	{{/each}}
                                </td>
                            </tr>
                            <tr id="itemEtcChamgoTab01">
                                <th>기타참고<br/>사항 </th>
                                <td>
                                	{{#each codes.etcchamgo as |etcchamgo|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiEtcChamgo{{@index}}" values="{{etcchamgo.value}}">
                                        <label for="chkJangMiEtcChamgo{{@index}}" class="labelCh"><em class="text">{{etcchamgo.name}}</em></label>
                                    </span>
                                   	{{/each}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 개발적성필지조건 -->
                <div class="unit">							
                    <div class="unit_tit">
                        <span class="sTit color_black">개발적성필지조건</span>
                        <button href="#slideToggle04" class="slideShow fr" data-role="slideShow">
                            <em class="on">펼침</em>
                            <em class="off">닫힘</em>
                        </button>
                    </div>
                    <div id="slideToggle04" class="unit_cont bgWhite slideShow-cont">
                        <table class="tableStyle borderStyle topBold left">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:;">
                            </colgroup>
                            <tbody>
                            <tr id="itemHpGradeTab01">
                                <th>HP등급</th>
                                <td>
                                    <!-- HP등급 Range -->
                                    <div id="jangmiToojaHpGrade" class="jangmiToojaHpGrade rangeSlider ui-rangeSlider ui-rangeSlider-noArrow" style="position: relative;">
                                </td>
                            </tr>
                            <tr id="itemGyeongsadoTab01">
                                <th>경사도</th>
                                <td>
                                	{{#each codes.gyeongsado as |gyeongsado|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiGyeongsado{{@index}}" value="{{gyeongsado.value}}">
                                        <label for="chkJangMiGyeongsado{{@index}}" class="labelCh"><em class="text">{{gyeongsado.name}}</em></label>
                                    </span>
                                    {{/each}}
                                </td>
                            </tr>
                            <tr id="itemJyeobdoTab01">
                                <th>접도현황</th>
                                <td>
                                	{{#each codes.jyeobdostate as |jyeobdostate|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiJyeobdo{{@index}}" value="{{jyeobdostate.value}}">
                                        <label for="chkJangMiJyeobdo{{@index}}" class="labelCh"><em class="text">{{jyeobdostate.name}}</em></label>
                                    </span>
                                    {{/each}}
                            	</td>
                            </tr>
                            <tr id="itemEnvGradeTab01">
                                <th>환경평가등급</th>
                                <td>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMi1EnvGrade1" value="1">
                                        <label for="chkJangMi1EnvGrade1" class="labelCh"><em class="text">1등급(투자유의)</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMi1EnvGrade2" value="2">
                                        <label for="chkJangMi1EnvGrade2" class="labelCh"><em class="text">2등급</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMi1EnvGrade3" value="3">
                                        <label for="chkJangMi1EnvGrade3" class="labelCh"><em class="text">3등급</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMi1EnvGrade4" value="4">
                                        <label for="chkJangMi1EnvGrade4" class="labelCh"><em class="text">4등급</em></label>
                                    </span>
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMi1EnvGrade5" value="5">
                                        <label for="chkJangMi1EnvGrade5" class="labelCh"><em class="text">5등급(투자유망)</em></label>
                                    </span>
                                </td>
                            </tr>
                            <tr id="itemTojiUseLimitCancelTab01">
                                <th>토지이용규제해소물건</th>
                                <td>
                                	{{#each codes.tojiuselimitcancel as |tojiuselimitcancel|}}
                                    <span class="rdchBox">
                                        <input type="checkbox" id="chkJangMiTojiUseLimitCancel0" value="{{tojiuselimitcancel.value}}">
                                        <label for="chkJangMiTojiUseLimitCancel0" class="labelCh"><em class="text">{{tojiuselimitcancel.name}}</em></label>
                                    </span>
                                    {{/each}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>						
			</div>

			<!-- 토지이용규제 해소물건탭 -->
			<div id="tabTojiUseLimitCancel" class="tab-pane">
				작업중
			</div>

			<!-- 개발적성 필지검색 -->
			<div id="tabDevPilji" class="tab-pane">
				작업중						
			</div>
		</div>
	</div>
</div>
<div class="footArea">
	<button type="button" class="btnstyle middle blue">검색</button>
	<button type="button" class="btnstyle middle gray MENU_CLOSE" data-menu="{{menuName}}">닫기</button>
</div>